@page "/posts/{slug}"
@using Blog.Models

@inject HttpClient Http;

@if (post != null)
{
    <h1>@post.Title</h1>
    <em>Posted on @post.CreatedOn.ToLongDateString()</em>

    <hr/>
    @((MarkupString)post.Content)

    <CommentList PostId="@post.Id"></CommentList>
}

@code {

    [Parameter]
    public string Slug { get; set; }

    Post post = null;

    protected override async Task OnInitializedAsync()
    {
        post = await Http.GetFromJsonAsync<Post>($"posts/{Slug}");
    }
}